<!DOCTYPE html>
<html>
  <body>
    <div style="text-align:left;">
      <span>이름: <%-name%></span><br />
      <span>성별: <%-gender%></span><br />
      <span>전화번호: <%-phone%></span><br />
      <span>이메일: <%-email%></span><br />
      <span>주소: <%-address%></span><br />
      <span>사용공간: <%-space%></span><br />
      <span>사용장비: <%-equip%></span><br />
      <span>사용일자 및 시간: <%-date%></span><br />
      <span>사용목적: <%-purpose%></span><br />
    </div>
  </body>
</html>